
<div class="half-one">
	<h3 style="text-align:center;">TEXT INPUT</h3>
	
<%= form_tag url_for(:controller=>"cleaner",:action =>"posttestcod"),remote:true  do %>
<%= check_box_tag 'accept'%>
<%= label_tag(:allowed, "Allow <p> inside <td>") %>
<%= tinymce_assets %>
<%= text_area_tag :content, "", :class => "tinymce", :rows => 28, :cols => 10 %>
<%= tinymce %>
 <%= submit_tag 'Clean', class: "btn-submit"%>
	<%end%>
</div>




<div id="test" class="half-one">
	<span><h3>HTML:</h3></span><span class="nums"></span><br />
	<textarea id="editor"></textarea>
	<!-- <input type="textarea" id="editor"></input> -->
	</div>
<div style="clear:both"></div>
<h3 style="text-align:center;">HTML OUTPUT</h3>
<div id="op">
</div>

