<%if @page == nil%>

<div class="row news-widget"> 
<h2 class="tcenter btm-pad"><%=@newsT.first%></h2> <ul>

<li class="news-green"> 
<<%=@tag%> class="news-head"><%=@newsH.first%></<%=@tag%>><br />
<%=raw @newsC%><br />
<div class="pull-right"> 
<p><img src="<%=@imageUrl%>" alt=""></p> <br />
<p><em>
<%=@newsD.first%>
</em></p> </div> <br /> <div class="clearfix"></div> </li>

</ul> </div>

<%elsif @page == "1"%>

<div class="container">  <br />
<div class="row news-widget"> <br />
<h2 class="tcenter"><%=@newsT.first%></h2> <br />
<ul><br />

<li class="news-green clearfix"> <br />
<<%=@tag%> class="news-head"><%=@newsH.first%></<%=@tag%>> <br />
<p>by BankBazaar posted on <%=@newsD.first%></p><br />
<%= raw @newsC%><br />
<div class="pull-right"><br />
<img src="<%=@imageUrl%>" alt=""> <br />
</div> <br />
</li> <br />


</ul> <br />
</div> <br />
</div> 




<%end%>